<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Gayathri&family=Roboto+Condensed:ital@1&family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo-ml-barra-busqueda">
        <img
          class="logo-ml"
          src="/images/logo-mercado-liebre.svg"
          alt="logo-mercado-liebre"
        />

        <div class="formulario-busqueda" action="/buscar" method="get">
          <input type="text" name="q" placeholder="Buscar productos,mas..." />
          <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <p class="icono-cuotas">
          <i class="fas fa-hand-holding-usd"
            >Comprá en cuotas y sin tarjetade crédito</i
          >
        </p>
        <br />
      </div>

      <ul class="login-navbar">
        <div class="menu-1">
          <li><a href="http://">Ofertas</a></li>
          <li><a href="http://">Tiendas Oficiales</a></li>
          <li><a href="http://">Vender</a></li>
          <li><a href="http://">Ayuda</a></li>
        </div>

        <div class="menu-2">
          <li>
            <a href="#">Creá tu cuenta<i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="./login.html">Ingresá<i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="http://"
              >Mis compras<i class="fas fa-shopping-basket"></i
            ></a>
          </li>
        </div>
      </ul>
      <div class="burger-menu">
        <span
          ><button><i class="fas fa-bars"></i></button
        ></span>
      </div>
      <img
        class="img-banner"
        src="/images/img-home-banner.jpg"
        alt="img-home-banner"
      />
    </header>
    <main>
      <form class="form-registro" action="" method="post">
        <div class="div-form">
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            name="nombre"
            placeholder="Ingrese su Nombre"
            class="form-input"
          />
        </div>
        <div class="div-form">
          <label for="apellido">Apellido:</label>
          <input
            type="text"
            name="apellido"
            placeholder="Ingrese su Apellido"
            class="form-input"
          />
        </div>
        <div class="div-form">
          <label for="usuario">Usuario:</label>
          <input
            type="text"
            name="usuario"
            placeholder="Ingrese su Usuario"
            class="form-input"
          />
        </div>
        <div class="div-form">
          <label for="email">Email:</label>
          <input
            type="email"
            name="email"
            placeholder="Ingrese su Email"
            class="form-input"
          />
        </div>
        <div class="div-form">
          <label for="nacimiento">Fecha de Nacimiento:</label>
          <input
            type="date"
            name="nacimiento"
            placeholder="Ingrese su
          nacimiento"
          />
        </div>
        <div class="div-form">
          <label for="domicilio">Domicilio:</label>
          <input
            type="text"
            name="domicilio"
            placeholder="Ingrese su Domicilio"
            class="form-input"
          />
        </div>
        <div class="div-form">
          <label for="radiobutton">¿Que desea hacer?</label>

          <label for="comprar">Comprar</label>
          <input type="radio" name="opcion" value="comprar" />
          <label for="Vender">Vender</label>
          <input type="radio" name="opcion" value="Vender" />
        </div>
        <div class="div-form">
          <div>
            <label for="categorias">Seleccione las categorias que desee</label>

            <span
              ><input type="checkbox" name="electro" />
              <label for="electro">Electro</label></span
            >
            <span
              ><input type="checkbox" name="moda" />
              <label for="moda">Moda</label></span
            >
            <span
              ><input type="checkbox" name="hogar" />
              <label for="hogar">Hogar</label></span
            >
            <span
              ><input type="checkbox" name="jugueteria" />
              <label for="jugueteria">Juguetería</label></span
            >
            <span
              ><input type="checkbox" name="vida-sana" />
              <label for="vida-sana">Vida Sana</label></span
            >
          </div>
        </div>
        <div class="div-form">
          <label for="foto">Seleccione una foto de perfil</label>
          <input
            type="file"
            name="foto"
            multiple
            accept=".jpg, .jpeg"
            class="form-input-foto"
          />
        </div>
        <div class="div-form">
          <label for="contraseña">Ingrese su contraseña:</label>
          <input
            type="password"
            name="contraseña"
            required
            placeholder="Contraseña"
            class="form-input"
          />
        </div>
        <div class="div-form">
          <button type="submit" class="form-button">
            Confirmar contraseña
          </button>
        </div>
        <div class="div-form">
          <button type="submit" class="form-button">
            <a href="./" class="form-button">Enviar</a>
          </button>
        </div>
        <div class="div-form">
          <button type="reset" class="form-button">Eliminar datos</button>
        </div>
      </form>
    </main>
    <footer>
      <div class="section-1">
        <section>
          <i class="fas fa-credit-card"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section>
          <i class="fas fa-gift"></i>
          <h4>Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section>
          <i class="fas fa-user-shield"></i>
          <h4>Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </div>

      <br />
      <div class="section-2">
        <section class="copyright">
          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
      </div>
    </footer>
  </body>
</html>
